/* Color Theme Swatches in Hex */
.Interaction-1-hex { color: #A672A2; }
.Interaction-2-hex { color: #5327F2; }
.Interaction-3-hex { color: #6A44F2; }
.Interaction-4-hex { color: #8E72F2; }
.Interaction-5-hex { color: #A9CBD9; }

/* Color Theme Swatches in RGBA */
.Interaction-1-rgba { color: rgba(165, 114, 162, 1); }
.Interaction-2-rgba { color: rgba(82, 38, 242, 1); }
.Interaction-3-rgba { color: rgba(105, 67, 242, 1); }
.Interaction-4-rgba { color: rgba(141, 113, 242, 1); }
.Interaction-5-rgba { color: rgba(169, 203, 216, 1); }

/* Color Theme Swatches in HSLA */
.Interaction-1-hsla { color: hsla(303, 22, 54, 1); }
.Interaction-2-hsla { color: hsla(253, 88, 55, 1); }
.Interaction-3-hsla { color: hsla(253, 87, 60, 1); }
.Interaction-4-hsla { color: hsla(253, 83, 69, 1); }
.Interaction-5-hsla { color: hsla(196, 38, 75, 1); }

* {
    margin:0;
    padding:0;

}
body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: #A9CBD9;
    font-family: 'Righteous', serif;
    
}
.container{
    background-color: #5327F2; 
    width: 700px;
    height:800px; 
    margin: 10px; 
    padding:30px;
    border-radius: 50px; 
}
.title{
    font-family: 'Righteous', serif;
    font-size: 48px;
    text-align: center;
    color: #e06fd7;
}
.title span {
 color : white
}

.subhead{
    display:flex;
    justify-content: space-around;

}
.subhead-a{
    color: white;
    font-size:20px;
  
}
.subhead-b{
    color: white;
    margin-left: 400px;
    cursor:pointer;
    font-size:20px;
}
.subhead-b:hover{
    color: #b80aaae5;
}
.game-area{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-gap: 15px;
    margin: 50px;
    background: white 
}
.game-area-cube{
    height :200px;
    width  :200px;
    background:#5327F2; 
    display:flex;
    justify-content: center;
    align-items:center;
}

.x::before{
    content:'x';
    font-size:200px;
}

.o::before{
    content:'o';
    font-size:200px;
    color: #be1ab1;
}
.status span{
    color: #A9CBD9;

}
@media only screen and (max-wdith: 1024px){

    .game-area{
       margin-top: top 25px;
       grid-gap:10px;
    }
    .game-area-cube{
        height:150px;
        width:250px;

    }

}
.modalDialog {
    position: fixed;
    top: 30;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    font-size: 25px;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 400px;
    height: 300px;
    max-height: 100%;
    position: relative;
   
    margin: 10% auto;
    padding: 55px 20px 13px 20px;
    border-radius: 10px;
    border: 4px solid blue;
    padding: 2rem;
    border-color: #b80aaae5;
    border-width: 40px;
    background: #fff;
    background: #A9CBD9;
  }

  .modal-guts {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* spacing as needed */
    padding: 20px 50px 20px 20px;
  
    /* let it scroll */
    overflow: auto;
    
  }

  
 
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  
  .button-human {
    margin-top: 60px;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background:  #5327F2;
    font-size: 20px;
    margin-left: 30px;
}

.button-computer {
    margin-top: 20px;
    width: 100px;
    margin-left: 120px;
    height: 50px;
    color: white;
    border-radius: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background:  #5327F2;
    font-size: 20px;
}

.button-human-1 {
    margin-top: 20px;
    width: 100px;
    height: 20px;
    color: white;
    border-radius: 8px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #5327F2;
    background: #b80aaa;
    font-size: 12px;
    margin-left: 30px;
}

.button-computer-1 {
    margin-top: 20px;
    width: 100px;
    margin-left: 30px;
    height: 20px;
    color: white;
    border-radius: 8px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #5327F2;
    background: #b80aaa;
    font-size: 12px;
}
.xc{
  
    font-size:200px;
}

.oc{
    
    font-size:200px;
    color: #be1ab1;
} 