/* Color Theme Swatches in Hex */
.Interaction-1-hex { color: #A672A2; }
.Interaction-2-hex { color: #5327F2; }
.Interaction-3-hex { color: #6A44F2; }
.Interaction-4-hex { color: #8E72F2; }
.Interaction-5-hex { color: #A9CBD9; }

/* Color Theme Swatches in RGBA */
.Interaction-1-rgba { color: rgba(165, 114, 162, 1); }
.Interaction-2-rgba { color: rgba(82, 38, 242, 1); }
.Interaction-3-rgba { color: rgba(105, 67, 242, 1); }
.Interaction-4-rgba { color: rgba(141, 113, 242, 1); }
.Interaction-5-rgba { color: rgba(169, 203, 216, 1); }

/* Color Theme Swatches in HSLA */
.Interaction-1-hsla { color: hsla(303, 22, 54, 1); }
.Interaction-2-hsla { color: hsla(253, 88, 55, 1); }
.Interaction-3-hsla { color: hsla(253, 87, 60, 1); }
.Interaction-4-hsla { color: hsla(253, 83, 69, 1); }
.Interaction-5-hsla { color: hsla(196, 38, 75, 1); }

* {
    margin:0;
    padding:0;

}
body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: #A9CBD9;
    font-family: 'Righteous', serif;
    
}
.container{
    background-color: #5327F2; 
    width: 700px;
    height:800px; 
    margin: 50px; 
    padding:50px;
    border-radius: 50px; 
}
.title{
    font-family: 'Righteous', serif;
    font-size: 48px;
    text-align: center;
    color: #e06fd7;
}
.title span {
 color : white
}

.subhead{
    display:flex;
    justify-content: space-around;

}
.subhead-a{
    color: white;
  
}
.subhead-b{
    color: white;
    margin-left: 400px;
    cursor:pointer;
}
.subhead-b:hover{
    color: #A672A2;
}
.game-area{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-gap: 10px;
    margin: 50px;
    background: white 
}
.game-area-cube{
    height :200px;
    width  :200px;
    background:#5327F2; 
    display:flex;
    justify-content: center;
    align-items:center;
}

.x::before{
    content:'x';
    font-size:200px;
}

.o::before{
    content:'o';
    font-size:200px;
    color: #be1ab1;
}
.status span{
    color: #A9CBD9;

}
@media only screen and (max-wdith: 1024px){

    .game-area{
       margin-top: top 25px;
       grid-gap:10px;
    }
    .game-area-cube{
        height:150px;
        width:250px;

    }

}

